# Movie Recommendation System
---

## Background

**Recommender System** is a system that seeks to predict or filter preferences according to the user's choices. Recommender systems are utilized in a variety of areas including movies, music, news, books, research articles, search queries, social tags, and products in general. Recommender systems produce a list of recommendations in any of the two ways:
- _Collaborative filtering_: Collaborative filtering approaches build a model from the user's past behavior (i.e. items purchased or searched by the user) as well as similar decisions made by other users. This model is then used to predict items (or ratings for items) that users may have an interest in .
- _Content-based filtering_: Content-based filtering approaches uses a series of discrete characteristics of an item in order to recommend additional items with similar properties. Content-based filtering methods are totally based on a description of the item and a profile of the user's preferences. It recommends items based on the user's past preferences.

Let's develop a basic recommendation system by suggesting items that are most similar to a particular item, in this case, movies. It just tells what movies/items are most similar to the user's movie choice.

## Import Library

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [12]:
from sklearn.model_selection import train_test_split

In [30]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [41]:
from sklearn.metrics.pairwise import cosine_similarity

In [45]:
import difflib

## Import Data

In [62]:
df = pd.read_csv('datasets/Movies Recommendation.csv')

## Describe Data

In [5]:
df.head()

,Movie_ID,Movie_Title,Movie_Genre,Movie_Language,Movie_Budget,Movie_Popularity,Movie_Release_Date,Movie_Revenue,Movie_Runtime,Movie_Vote,...,Movie_Homepage,Movie_Keywords,Movie_Overview,Movie_Production_House,Movie_Production_Country,Movie_Spoken_Language,Movie_Tagline,Movie_Cast,Movie_Crew,Movie_Director
0,1,Four Rooms,Crime Comedy,en,4000000,22.876230,09-12-1995,4300000,98.0,6.5,...,NaN,hotel new year's eve witch bet hotel room,It's Ted the Bellhop's first night on the job....,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Twelve outrageous guests. Four scandalous requ...,Tim Roth Antonio Banderas Jennifer Beals Madon...,"[{'name': 'Allison Anders', 'gender': 1, 'depa...",Allison Anders
1,2,Star Wars,Adventure Action Science Fiction,en,11000000,126.393695,25-05-1977,775398007,121.0,8.1,...,http://www.starwars.com/films/star-wars-episod...,android galaxy hermit death star lightsaber,Princess Leia is captured and held hostage by ...,"[{""name"": ""Lucasfilm"", ""id"": 1}, {""name"": ""Twe...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","A long time ago in a galaxy far, far away...",Mark Hamill Harrison Ford Carrie Fisher Peter ...,"[{'name': 'George Lucas', 'gender': 2, 'depart...",George Lucas
2,3,Finding Nemo,Animation Family,en,94000000,85.688789,30-05-2003,940335536,100.0,7.6,...,http://movies.disney.com/finding-nemo,father son relationship harbor underwater fish...,"Nemo, an adventurous young clownfish, is unexp...","[{""name"": ""Pixar Animation Studios"", ""id"": 3}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","There are 3.7 trillion fish in the ocean, they...",Albert Brooks Ellen DeGeneres Alexander Gould ...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton
3,4,Forrest Gump,Comedy Drama Romance,en,55000000,138.133331,06-07-1994,677945399,142.0,8.2,...,NaN,vietnam veteran hippie mentally disabled runni...,A man with a low IQ has accomplished great thi...,"[{""name"": ""Paramount Pictures"", ""id"": 4}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]","The world will never be the same, once you've ...",Tom Hanks Robin Wright Gary Sinise Mykelti Wil...,"[{'name': 'Alan Silvestri', 'gender': 2, 'depa...",Robert Zemeckis
4,5,American Beauty,Drama,en,15000000,80.878605,15-09-1999,356296601,122.0,7.9,...,http://www.dreamworks.com/ab/,male nudity female nudity adultery midlife cri...,"Lester Burnham, a depressed suburban father in...","[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...","[{""iso_639_1"": ""en"", ""name"": ""English""}]",Look closer.,Kevin Spacey Annette Bening Thora Birch Wes Be...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4760 entries, 0 to 4759
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Movie_ID                  4760 non-null   int64
 1   Movie_Title               4760 non-null   object
 2   Movie_Genre               4760 non-null   object
 3   Movie_Language            4760 non-null   object
 4   Movie_Budget              4760 non-null   int64
 5   Movie_Popularity          4760 non-null   float64
 6   Movie_Release_Date        4760 non-null   object
 7   Movie_Revenue             4760 non-null   int64
 8   Movie_Runtime             4758 non-null   float64
 9   Movie_Vote                4760 non-null   float64
 10  Movie_Vote_Count          4760 non-null   int64
 11  Movie_Homepage            1699 non-null   object
 12  Movie_Keywords            4373 non-null   object
 13  Movie_Overview            4757 non-null   object
 14  Movie_Production_House    4760 non-null   object
 15  Movie_Production_Country  4760 non-null   object
 16  Movie_Spoken_Language     4760 non-null   object
 17  Movie_Tagline             3942 non-null   object
 18  Movie_Cast                4733 non-null   object
 19  Movie_Crew                4760 non-null   object
 20  Movie_Director            4738 non-null   object
dtypes: float64(3), int64(4), object(14)
memory usage: 781.1+ KB

**Note that there are non-null values in this dataset.**

What should be the best method to handle null values?

Omit the entire rows...? Nope!

Then what?

In [7]:
df.describe()

,Movie_ID,Movie_Budget,Movie_Popularity,Movie_Revenue,Movie_Runtime,Movie_Vote,Movie_Vote_Count
count,4760.000000,4.760000e+03,4760.000000,4.760000e+03,4758.000000,4760.000000,4760.000000
mean,2382.566387,2.920129e+07,21.599510,8.263743e+07,107.184111,6.113866,692.508403
std,1377.270159,4.075620e+07,31.887919,1.630554e+08,21.960332,1.141294,1235.007337
min,1.000000,0.000000e+00,0.000372,0.000000e+00,0.000000,0.000000,0.000000
25%,1190.750000,9.257500e+05,4.807074,0.000000e+00,94.000000,5.600000,55.000000
50%,2380.500000,1.500000e+07,13.119058,1.944716e+07,104.000000,6.200000,238.000000
75%,3572.250000,4.000000e+07,28.411929,9.341276e+07,118.000000,6.800000,740.250000
max,4788.000000,3.800000e+08,875.581305,2.787965e+09,338.000000,10.000000,13752.000000

In [8]:
df.columns

Index(['Movie_ID', 'Movie_Title', 'Movie_Genre', 'Movie_Language',
       'Movie_Budget', 'Movie_Popularity', 'Movie_Release_Date',
       'Movie_Revenue', 'Movie_Runtime', 'Movie_Vote', 'Movie_Vote_Count',
       'Movie_Homepage', 'Movie_Keywords', 'Movie_Overview',
       'Movie_Production_House', 'Movie_Production_Country',
       'Movie_Spoken_Language', 'Movie_Tagline', 'Movie_Cast', 'Movie_Crew',
       'Movie_Director'],
      dtype='object')

In [63]:
df.shape

(4760, 21)

## Data Preprocessing

In [64]:
df = df.fillna('')

In [14]:
features = df[['Movie_Genre', 'Movie_Keywords', 'Movie_Tagline', 'Movie_Cast', 'Movie_Director']]
# more of them can be added as well

## Define Target Variable (y) and Feature Variables (X)

In [35]:
# X = features['Movie_Genre'] + ' ' + features['Movie_Keywords'] + ' ' + features['Movie_Tagline'] + ' ' + features['Movie_Cast'] + ' ' + features['Movie_Director']

X = features.apply(lambda row: ' '.join(row), axis=1)
X

0       Crime Comedy hotel new year's eve witch bet ho...
1       Adventure Action Science Fiction android galax...
2       Animation Family father son relationship harbo...
3       Comedy Drama Romance vietnam veteran hippie me...
4       Drama male nudity female nudity adultery midli...
                              ...
4755    Horror  The hot spot where Satan's waitin'. Li...
4756    Comedy Family Drama  It’s better to stand out ...
4757    Thriller Drama christian film sex trafficking ...
4758                                           Family
4759    Documentary music actors legendary perfomer cl...
Length: 4760, dtype: object

In [36]:
X.shape

(4760,)

In [37]:
X = TfidfVectorizer().fit_transform(X)

In [38]:
X.shape

(4760, 17258)

In [40]:
print(X)

  (0, 617)	0.1633382144407513
  (0, 492)	0.1432591540388685
  (0, 15413)	0.1465525095337543
  (0, 9675)	0.14226057295252661
  (0, 9465)	0.1659841367820977
  (0, 1390)	0.16898383612799558
  (0, 7825)	0.09799561597509843
  (0, 1214)	0.13865857545144072
  (0, 729)	0.13415063359531618
  (0, 13093)	0.1432591540388685
  (0, 15355)	0.10477815972666779
  (0, 9048)	0.0866842116160778
  (0, 11161)	0.06250380151644369
  (0, 16773)	0.17654247479915475
  (0, 5612)	0.08603537588547631
  (0, 16735)	0.10690083751525419
  (0, 7904)	0.13348000542112332
  (0, 15219)	0.09800472886453934
  (0, 11242)	0.07277788238484746
  (0, 3878)	0.11998399582562203
  (0, 5499)	0.11454057510303811
  (0, 7071)	0.19822417598406614
  (0, 7454)	0.14745635785412262
  (0, 1495)	0.19712637387361423
  (0, 9206)	0.15186283580984414
  :	:
  (4757, 5455)	0.12491480594769522
  (4757, 2967)	0.16273475835631626
  (4757, 8464)	0.23522565554066333
  (4757, 6938)	0.17088173678136628
  (4757, 8379)	0.17480603856721913
  (4757, 15303)	0.07654356007668191
  (4757, 15384)	0.09754322497537371
  (4757, 7649)	0.11479421494340192
  (4757, 10896)	0.14546473055066447
  (4757, 4494)	0.05675298448720501
  (4758, 5238)	1.0
  (4759, 11264)	0.33947721804318337
  (4759, 11708)	0.33947721804318337
  (4759, 205)	0.3237911628497312
  (4759, 8902)	0.3040290704566037
  (4759, 14062)	0.3237911628497312
  (4759, 3058)	0.2812896191863103
  (4759, 7130)	0.26419662449963793
  (4759, 10761)	0.3126617295732147
  (4759, 4358)	0.18306542312175342
  (4759, 14051)	0.20084315377640435
  (4759, 5690)	0.19534291014627303
  (4759, 15431)	0.19628653185946862
  (4759, 1490)	0.21197258705292082
  (4759, 10666)	0.15888268987343043

In [42]:
similarity_score = cosine_similarity(X)
similarity_score

array([[1.        , 0.01351235, 0.03570468, ..., 0.        , 0.        ,
        0.        ],
       [0.01351235, 1.        , 0.00806674, ..., 0.        , 0.        ,
        0.        ],
       [0.03570468, 0.00806674, 1.        , ..., 0.        , 0.08014876,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.08014876, ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [43]:
similarity_score.shape

(4760, 4760)

## Input

In [44]:
fav_movi_name = input('Enter your favorite movie name: ')

Enter your favorite movie name: Iron Man

## Modeling

In [47]:
movie_titles = df['Movie_Title'].tolist()

In [49]:
movie_recommendations = difflib.get_close_matches(fav_movi_name, movie_titles)
movie_recommendations

['Iron Man', 'Iron Man 3', 'Iron Man 2']

In [50]:
close_match = movie_recommendations[0]

In [53]:
close_match_i = df[df['Movie_Title'] == close_match]['Movie_ID'].values[0]
close_match_i

568

In [138]:
df[df['Movie_Title'] == close_match]['Movie_ID']

567    568
Name: Movie_ID, dtype: int64

In [142]:
df.iloc[close_match_i]

Movie_ID                                                                  569
Movie_Title                                             The Forbidden Kingdom
Movie_Genre                                          Action Adventure Fantasy
Movie_Language                                                             en
Movie_Budget                                                         55000000
Movie_Popularity                                                    17.097041
Movie_Release_Date                                                 18-04-2008
Movie_Revenue                                                       127906624
Movie_Runtime                                                           104.0
Movie_Vote                                                                6.3
Movie_Vote_Count                                                          461
Movie_Homepage                          http://www.forbiddenkingdommovie.com/
Movie_Keywords                        tempel shaolin teenager urination staff
Movie_Overview              An American teenager who is obsessed with Hong...
Movie_Production_House      [{"name": "Casey Silver Productions", "id": 87...
Movie_Production_Country    [{"iso_3166_1": "CN", "name": "China"}, {"iso_...
Movie_Spoken_Language       [{"iso_639_1": "en", "name": "English"}, {"iso...
Movie_Tagline               The battle for eternity is the fantasy of a li...
Movie_Cast                  Jackie Chan Jet Li Michael Angarano Liu Yifei ...
Movie_Crew                  [{'name': 'Philip Lee', 'gender': 2, 'departme...
Movie_Director                                                    Rob Minkoff
Name: 568, dtype: object

In [83]:
print(recommendation_score.shape, recommendation_score, sep='\n')

(4760,)
[0.02699094 0.01095051 0.01880639 ... 0.         0.         0.        ]

In [116]:
recommendation_score = pd.DataFrame({
    'Recommendation Score': similarity_score[close_match_i]
}).sort_values(by='Recommendation Score', ascending=False)

recommendation_score

      Recommendation Score
568               1.000000
570               0.237746
3724              0.183464
2361              0.164363
418               0.160934
...                    ...
2694              0.000000
2693              0.000000
2690              0.000000
2687              0.000000
4759              0.000000

[4760 rows x 1 columns]

## **Model Evaluation**

In [127]:
print('Top 30 movies receommended for you:\n')

for i, n in enumerate(recommendation_score.index[:30], start=1):
    print(f"{i}. {df.loc[n, 'Movie_Title']}")

Top 30 movies receommended for you:

1. The Forbidden Kingdom
2. The Mummy: Tomb of the Dragon Emperor
3. Resident Evil: Retribution
4. The Warlords
5. Lethal Weapon 4
6. The One
7. War
8. Unleashed
9. Snow Flower and the Secret Fan
10. Kiss of the Dragon
11. Warriors of Virtue
12. Curse of the Golden Flower
13. The Medallion
14. Kung Fu Panda
15. Cradle 2 the Grave
16. Shanghai Noon
17. Gods of Egypt
18. Stuart Little
19. The Monkey King 2
20. Hero
21. The Legend of Drunken Master
22. Young Sherlock Holmes
23. Without a Paddle
24. Dragon Blade
25. Superman IV: The Quest for Peace
26. Romeo Must Die
27. Shinjuku Incident
28. Rush Hour 3
29. Stuart Little 2
30. Kung Fu Panda 2