In [1]:
# step 1: import libraries

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
# step 2: import the dataset

df = pd.read_csv('./Boston.csv')

In [3]:
df.head()

,CRIM,ZN,INDUS,CHAS,NX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    int64
 4   NX       506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [5]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [6]:
df.shape

(506, 14)

In [7]:
# step 3: define target (y) and feature(s) (x)
# where there's only a single feature then its called SimpleLR and MLR in case of multiple features
# y = c0 + x1*m1 + x2*m3 + ... + xn*mn

y = df['MEDV'] # median house price
x = df[['CRIM', 'ZN', 'INDUS', 'CHAS', 'NX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']]

In [8]:
# step 4: test_train_split

x_train, x_test, y_train, y_test = train_test_split(x, y, train_size=0.7, random_state=2529)

In [9]:
# step 5: select model
model = LinearRegression()

In [10]:
# step 6: train model (find the best fit)
model.fit(x_train, y_train)
model.intercept_, model.coef_

(34.219163688630374,
 array([-1.29412069e-01,  3.65184937e-02,  1.54418944e-02,  2.35486887e+00,
        -2.04171489e+01,  4.41356565e+00,  4.61075512e-03, -1.58626723e+00,
         2.51478665e-01, -9.59591213e-03, -9.64169204e-01,  1.00972679e-02,
        -5.43198745e-01]))

In [13]:
# step 7: prediction
y_pred = model.predict(x_test)

In [12]:
#step 8: accuracy

# mean of absolute error, mean of squared error, mean of percentage error
from sklearn.metrics import mean_absolute_percentage_error

err = mean_absolute_percentage_error(y_test, y_pred)
accuracy = 100 - err*100

accuracy

83.64406411778194